<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web Form</title>
</head>
<body>
    <form action="lavhilsen" method="post">
        <label for="name">Navn: </label>
        <input id="name" name="navn" placeholder="skriv dit navn" autofocus>
        <label for="age">Alder: </label>
        <input type="number" id="age" name="alder" placeholder="skriv din alder">
        <button type="submit">Send</button>
        <button type="reset">Slet</button>
    </form>

</body>
</html>